.nav-bar {
  height: 100px;
  position: fixed;
  width: 100vw !important;
  top: 0;
  z-index: 3;
  background-color: transparent;
  -webkit-backface-visibility: hidden;
}
@media only screen and (max-width: 576px) {
  .navbar-item:hover {
    transform: none !important;
  }
  .navbar-item {
    width: 100% !important;
  }
  .nav-bar {
    height: auto;
    left: 0;
    background-color: black !important;
  }
}

.nav-bar .navbar-item {
  width: 33%;
  text-align: center;
  font-size: 32px;
}
.nav-bar a {
  color: white !important;
  width: fit-content;
  margin: auto;
  transition: border-bottom 0.25s;
  border-bottom: 5px solid transparent;
}
.selected a {
  border-bottom: 5px solid white;
}
.navbar-item {
  transition: transform 0.4s;
  height: 100%;
}
.navbar-item:hover {
  transform: translate(0, -10px);
}
.nav-bar a {
  text-decoration: none;
  color: white;
}
.section-title {
  font-size: 80px;
}
